:root {
}

.unity-label {
    color: rgb(164, 164, 164);
    font-size: 100px;
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    -unity-text-align: middle-right;
}

#back-button:focus Label#title {
    color: rgb(255, 255, 255);
}

#root > #Container > .unity-slider-int > .unity-slider-int__label {
    width: 50%;
    -unity-text-align: middle-right;
}

.unity-label:focus {
    color: rgb(255, 255, 255);
}
