:root {
}

.unity-text-element {
    -unity-text-align: upper-center;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
}

.Button.white:focus Label#title {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

#title {
    color: rgb(164, 164, 164);
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    font-size: 100px;
}

.unity-button {
    background-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.visible {
}

.hidden {
    display: none;
}

#root > #dialogue > #root > #dialogue-box > #dialogue {
    -unity-text-align: upper-left;
}

.image-menu {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    translate: 0 0;
    width: 50%;
    background-image: url("project://database/Assets/1_Art/Sprites/Menu/spr_menu_continue_3.png?fileID=937344724803292199&guid=2dba776c08cb9de4489f7f74c2b8f05d&type=3#spr_menu_continue_3_0");
    background-size: 80% 80%;
}

.image-out {
    translate: 1500px 0;
    opacity: 0;
    background-size: 80% 80%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
