:root {
}

.visible {
}

.hidden {
    display: none;
}

.Button.white:focus Label#title {
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    color: rgb(255, 255, 255);
}

Label {
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    font-size: 75px;
    color: rgb(164, 164, 164);
}

#fullscreen-toggle VisualElement {
    margin-left: 0;
}

#fullscreen-toggle Label {
    width: 50%;
    -unity-text-align: upper-right;
    font-size: 100px;
}

#fullscreen-toggle:focus Label {
    width: 50%;
    -unity-text-align: upper-right;
    font-size: 100px;
    color: rgb(255, 255, 255);
}

#volume-slider Label {
    width: 50%;
    -unity-text-align: upper-right;
    font-size: 100px;
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
}

#volume-slider:focus Label {
    color: rgb(255, 255, 255);
}

#volume-slider VisualElement {
    margin-left: 0;
}

#resolution-dropdown VisualElement {
    background-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    width: 50%;
}

#resolution-dropdown Label {
    width: 50%;
    font-size: 100px;
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    -unity-text-align: upper-right;
}

#resolution-dropdown:focus Label {
}

#resolution-dropdown PopupTextElement {
    display: flex;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/1_Art/Fonts/Alkhemikal.ttf?fileID=12800000&guid=90aecb5949e6d7a47a8d89b5c0e257bd&type=3#Alkhemikal");
    font-size: 75px;
    width: 50%;
}

#root > #Container > #resolution-dropdown > .unity-popup-field__input > .unity-base-popup-field__arrow {
    display: none;
}

.image-menu {
    flex-grow: 1;
    width: 50%;
    height: 100%;
    background-size: 80% 80%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-image: url("project://database/Assets/1_Art/Sprites/Menu/spr_menu_continue_3.png?fileID=937344724803292199&guid=2dba776c08cb9de4489f7f74c2b8f05d&type=3#spr_menu_continue_3_0");
}

.image-out {
    translate: 1500px 0;
    opacity: 0;
    background-size: 80% 80%;
    width: 50%;
    height: 100%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
