:root {
}

.unity-text-element {
    -unity-text-align: upper-center;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.Button.white:focus Label#title {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

#title {
    color: rgb(164, 164, 164);
}

.unity-button {
    background-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}
